.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 기본적으로 왼쪽 정렬 */
    margin-bottom: 20px; /* 메시지 간격 */
}

.my-message {
    align-self: flex-end; /* 내 메시지는 오른쪽 정렬 */
    background-color: #cfe9ff; /* 내 메시지 배경색 */
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.other-message {
    background-color: #ffebcc; /* 다른 사용자의 메시지 배경색 */
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

.timestamp {
    font-size: 0.8em; /* 글자 크기를 작게 */
    color: gray; /* 색상 조정 */
    display: block; /* 새 줄로 표시 */
    margin-top: 5px; /* 위쪽 마진 추가 */
    text-align: right; /* 오른쪽 정렬 추가 */
}

.chat-container {
    max-width: 600px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px; /* 내부 여백 */
    border: 1px solid #ddd; /* 경계선 */
    border-radius: 10px; /* 둥근 경계 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    background-color: #f9f9f9; /* 배경색 설정 */
}


.message-input {
    flex: 1; /* 가용 공간을 모두 차지 */
    padding: 10px; /* 패딩 추가 */
    border: 1px solid #ccc; /* 경계선 추가 */
    border-radius: 5px; /* 둥근 경계 */
    margin-right: 10px; /* 오른쪽 여백 */
}

